h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  color: var(--code-background);
}

h1 {
  font-size: 1.476rem;
  margin: 1.25rem 0;
}
h2 {
  font-size: 1.383rem;
  margin: 1.2rem 0;
}
h3 {
  font-size: 1.296rem;
  margin: 1.15rem 0;
}
h4 {
  font-size: 1.215rem;
  margin: 1.1rem 0;
}
h5 {
  font-size: 1.138rem;
  margin: 1.05rem 0;
}
h6 {
  font-size: 1.067rem;
  margin: 1rem 0;
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 1.676rem;
  }
  h2 {
    font-size: 1.583rem;
  }
  h3 {
    font-size: 1.496rem;
  }
  h4 {
    font-size: 1.415rem;
  }
  h5 {
    font-size: 1.338rem;
  }
  h6 {
    font-size: 1.267rem;
  }
}

@media screen and (min-width: 1024px) {
  h1 {
    font-size: 1.876rem;
  }
  h2 {
    font-size: 1.783rem;
  }
  h3 {
    font-size: 1.696rem;
  }
  h4 {
    font-size: 1.615rem;
  }
  h5 {
    font-size: 1.538rem;
  }
  h6 {
    font-size: 1.467rem;
  }
}

p {
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  margin: 10px 0;
}

article a {
  color: var(--link-color);
  text-decoration: underline;
}

ol,
ul {
  margin: 20px 0;
  font-size: 18px;
}

li {
  margin: 10px 0;
}
